name: HTML5 Validator
on:
  push:
    paths:
      - 'www/**'
  pull_request:
    paths:
      - 'www/**'
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run HTML5 validator
        uses: Cyb3r-Jak3/html5validator-action@v7.2.0
        with:
          root: www/
          format: text
          log_level: WARNING
          css: true