.feature-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
    color: #fff; /* icona bianca */
}

.feature-icon.bg-primary {
    background-color: #2C5F4E;
}

.feature-icon.bg-success {
    background-color: #198754;
}

.feature-icon.bg-warning {
    background-color: #ffc107;
}
